.header{
    background-color: #15284f;
    color: white;
    border: 1px solid black;
    border-radius: 5px;

}
.bodyy{
   
   
    background-color: rgb(18, 16, 16);
    color:#c2bcbc;
}

h2{
    color:white;
}
h3{
    color: #286090;
}

body
{
   background-color:#000000 ;
}

.eimage{
 height: 200px;
 width: 250px;
}

.ebond {
    display: flex;
}