.header{
    background-color: #001F5B;
    color: white;
    border: 1px solid black;
    border-radius: 5px;

}
.bodyy{
   
   
    background-color: rgb(18, 16, 16);
    color:#c2bcbc;
}

h2{
    color:white;
}
h3{
    color: #286090;
}

body
{
   background-color:#000000 ;
}