.header{
    background-color: #15284f;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
  justify-content: space-between;
  list-style: none;
}
.name{
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.name h1{
    position: relative;
    top: 18px;
}
#globe{
    height: 90px;
    width: 100px;
    background-color: #15284f;
    border-radius: 50%;
     
}

.heading
{
    display: flex;
    justify-content: space-between;
    width: 340px;

}
#label{
    position: relative;
    top: 30px;
  
}

#label h3{
    color: white;
}
#search{
        position: relative;
     top: 50px;
    height: 35px;
    width: 400px;
    }

 #simage #sphoto{
    height: 35px;
    width: 35px;
position: relative;
margin-left: 5px;
top:50px;
cursor: pointer;
 
}
.bodyy{
   
   
    background-color: rgb(18, 16, 16);
    color:#c2bcbc;
}

h2{
    color:white;
}
h3{
    color: #286090;
}

body
{
   background-color:#000000 ;
}

.eimage{
 height: 200px;
 width: 250px;
}

.ebond {
    display: flex;
}

a{
    text-decoration: none;
    color: #286090;
}

#electoralbondanalysis{
    height: 300px ;
    width: 600px;
}



.options{
    display: flex;
   

}

.options div{
    padding: 15px;
    position: relative;
    top: 15px;
}

.options div h4:hover{
    opacity: 0.9;
  cursor: pointer;
}


.NAV{
     background-color:#15284f;
 
    height: 75px;
    
}



   


.copyright{
    color:#c2bcbc;

}
footer{
    display:flex;
    background-color: #15284f;
    
}
footer p{
    position: relative;
    bottom: 10px;
}
footer img{
    height: 25px;
    position:relative;
    top: -1px;
    margin: 5px;
}